/**
 * Author: Anthony Palumbo
 * Date: 11-16-16
 * Description: CSS for links
 */

.githubLink {
    color: #229633;
    text-decoration: none;
}

.githubLink:hover {
    color: blue;
    text-decoration: underline;
}

.githubLink:active {
    color: red;
}

.links {
    text-decoration: none;
    color: #0033DB;
}

.links:hover {
    color: blue;
    text-decoration: underline;
}

.links:active {
    color: red;
}

#emailIcon {
    color: gray;
    margin-left: 40%;
    margin-right: 40%;
}

#emailIcon:hover {
    color: red;
}

#githubIcon {
    color: gray;
    margin-left: 40%;
    margin-right: 40%;
}

#githubIcon:hover {
    color: #6CC644;
}

#instaIcon {
    color: gray;
    margin-left: 40%;
    margin-right: 40%;
}

#instaIcon:hover {
    color: #BC2A8D;
}

#merit {
    color: #007263;
    text-decoration: none;
}

#merit:hover {
    color: blue;
    text-decoration: underline;
}

#merit:active {
    color: red;
}

#resLink {
    text-align: center;
    color: white;
    text-decoration: underline;
}

#resLink:hover {
    color: blue;
}

#resLink:active {
    color: red;
}

#twitterIcon {
    color: gray;
    margin-left: 40%;
    margin-right: 40%;
}

#twitterIcon:hover {
    color: #00ACED;
}
