/**
 * Author: Anthony Palumbo
 * Date: 11-16-16
 * Description: CSS for links
 */

.githubLink {
    color: #04FF00;
    text-decoration: none;
}

.githubLink:hover {
    color: blue;
    text-decoration: underline;
}

.githubLink:active {
    color: red;
}

#emailIcon {
    color: gray;
    margin-left: 40%;
    margin-right: 40%;
}

#emailIcon:hover {
    color: red;
}

#githubIcon {
    color: gray;
    margin-left: 40%;
    margin-right: 40%;
}

#githubIcon:hover {
    color: #6CC644;
}

#merit {
    color: #007263;
    text-decoration: none;
}

#merit:hover {
    color: blue;
    text-decoration: underline;
}

#merit:active {
    color: red;
}

#resLink {
    text-align: center;
    color: #04FF00;
    text-decoration: underline;
}

#resLink:hover {
    color: blue;
}

#resLink:active {
    color: red;
}

#stackIcon {
    color: gray;
    margin-left: 40%;
    margin-right: 40%;
}

#stackIcon:hover {
    color: #CE7B00;
}
