/**
 * Author: Anthony Palumbo
 * Date: 11-16-16
 * Description: Main CSS file for website.
 */

html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../images/wallpaper.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    color: white;
    max-width: 1920px;
    max-height: 1080px;
    min-width: 60px;
    width: device-width;
    font-family: arial;
    font-size: 12;
    zoom: 100%;
    min-height: 100%;
    margin-bottom: -50px;
}

header {
    width: 100%;
    padding: 40px 0;
    color: #04FF00;
    text-align: center;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: bold;
}

footer {
    font-family: "Times New Roman";
    font-size: 1em;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
}

nav ul {
    background-color: #2B2B2B;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li:hover {
    background-color: #636363;
}

nav ul a {
    color: white;
}

.center-title {
    text-align: center;
    color: #04FF00;
}

.handle {
    width: 100%;
    background: #636363;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    display: none;
}

.info {
    margin: 1em;
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

.largeBox {
    width: 100%;
    margin: 1em;
    float: center;
}

.menuImg {
    float: right;
}

.projects {
    margin: 5em;
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
    background-color: rgba(255,255,255,0.65);
    color: black;
    border: 1px solid rgb(255,255,255);
    border-radius: 20px;
}

.resItems {
    margin: 2em;
}

#bottom {
    width: 100%;
    float: left;
    background-color: rgba(255,255,255,0.7);
    margin: 0em 4em 4em 0em;
    border: 1px solid white;
    border-radius: 2em;
    color: black;
}

#bottomList {
    list-style: none;
}

#liBadge {
    margin: 20px;
    float: center;
    text-align: center;
}

#paragraph {
    color: white;
    background-color: rgba(0,0,0,0.65);
    text-align: left;
    padding: 5%;
    width: 80%;
    border: 1px black solid;
    border-radius: 10px;
    margin: 20px auto;
}

#res {
    background-color: #2B2B2B;
    color: white;
    padding: 5%;
    border: 1px black solid;
    border-radius: 20px;
    margin: 5%;
    width: 80%;
}

#resume {
    text-align: center;
    color: red;
    text-shadow: 2px 2px 8px #04FF00;
}

#resume-title {
    text-align: center;
}

#top {
    float: center;
    width: 100%;
    margin: auto;
    margin-bottom: 4em;
    background-color: rgba(255,255,255,0.7);
    padding: 15px 40px 0px 15px;
    border: 1px solid white;
    border-radius: 2em;
    color: black;
}

@media screen and (max-width: 580px) {
    nav ul {
        max-height: 0px;
    }

    nav ul li {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        text-align: left;
    }

    .handle {
        background: #2B2B2B;
        display: block;
    }

    .largeBox {
        width: 100%;
        margin: auto;
    }

    .projects {
        margin: 0em;
        margin-bottom: 2em;
        border: none;
        border-radius: 0em;
        padding: 1.5em;
    }

    .res {
        width: 100%;
        margin: 0px auto;
        border: none;
        border-radius: 0px;
    }

    .showing {
        max-height: 20em;
    }

    #left {
        margin: 0;
        width: 100%;
        margin-bottom: 30px;
        border: none;
        border-radius: 0em;
    }

    #paragraph {
        border: 0px;
        border-radius: 0px;
        margin: 0px;
        width: 100%;
    }

    #right {
        float: left;
        margin: 0;
        width: 100%;
        border: none;
        border-radius: 0em;
    }
}
