/**
 * Author: Anthony Palumbo
 * Date: 11-16-16
 * Description: Main CSS file for website.
 */

html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../images/wallpaper.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    color: white;
    max-width: 1920px;
    max-height: 1080px;
    min-width: 60px;
    width: device-width;
    font-family: arial;
    font-size: 12;
    zoom: 100%;
    min-height: 100%;
    margin-bottom: -50px;
}

header {
    width: 100%;
    padding: 40px 0;
    color: #00FFFF;
    text-shadow: 1px 1px black;
    text-align: center;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: bold;
}

footer {
    font-family: "Times New Roman";
    font-size: 1em;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
}

nav ul {
    background-color: rgba(0,0,0,0.65);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li:hover {
    background-color: black;
}

nav ul a {
    color: white;
}

.center-title {
    text-align: center;
    color: #00FFFF;
    text-shadow: 2px 2px black;
}

.connect {
    margin: 5em;
    padding: 1em;
    background-color: rgba(225, 225, 225, 0.7);
    color: black;
    border: 1px solid white;
    border-radius: 20px;
}

.handle {
    width: 100%;
    background-color: rgba(0,0,0,0.65);
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    display: none;
}

.info {
    margin: 1em;
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

.largeBox {
    margin: 1em;
    float: center;
}

.menuImg {
    float: right;
}

.paragraph {
    color: white;
    background-color: rgba(0,0,0,0.65);
    text-align: left;
    padding: 5%;
    width: 80%;
    border: 1px black solid;
    border-radius: 10px;
    margin: 20px auto;
}

.projects {
    color: white;
    background-color: rgba(0,0,0,0.65);
    margin: 5em;
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
    border: 1px solid black;
    border-radius: 20px;
}

.images {
    width: 450px;
    height: auto;
    margin: 0;
}

#bottomList {
    list-style: none;
}

#liBadge {
    margin: 20px;
    float: center;
    text-align: center;
}

#res {
    color: white;
    background-color: rgba(0,0,0,0.65);
    padding: 5%;
    border: 1px black solid;
    border-radius: 20px;
    margin: 5%;
    width: 80%;
}

#resume {
    text-align: center;
    color: #04FF00;
    font-size: 2em;
}

#resumeImage {
    width: 75%;
    height: auto;
    margin: 0;
    float: center;
}

#shortcuts {
    margin: 5em;
    padding: 1em;
    color: white;
    background-color: rgba(0,0,0,0.65);
    border: 1px solid black;
    border-radius: 20px;
}

#websiteTitle {
    color: #00FFFF;
    text-shadow: 1px 1px black;
    text-align: center;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}

@media screen and (max-width: 580px) {
    nav ul {
        max-height: 0px;
    }

    nav ul li {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        text-align: left;
    }

    .connect {
        margin: 0;
        margin-bottom: 30px;
        width: 100%;
        border: none;
        float: left;
        border-radius: 0em;
        padding: 0;
    }

    .handle {
        background-color: rgba(0,0,0,0.65);
        display: block;
    }

    .largeBox {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .paragraph {
        border: 0px;
        border-radius: 0px;
        margin: 0px;
        width: 100%;
        padding: 0;
    }

    .projects {
        margin: 0em;
        margin-bottom: 2em;
        border: none;
        border-radius: 0em;
        padding: 1.5em;
    }

    .res {
        width: 100%;
        margin: 0px auto;
        border: none;
        border-radius: 0px;
    }

    .showing {
        max-height: 20em;
    }

    .images {
        width: 100%;
        height: auto;
    }

    #shortcuts {
        margin: 0;
        margin-bottom: 30px;
        width: 100%;
        border: none;
        float: left;
        border-radius: 0em;
        padding: 0;
    }
}
